node_modules/
dist/
*.log
.DS_Store
.last-run.json
test-recordings-integration
test-recordings-websocket
coverage/
coverage-reports
.next/
apps/example-nextjs16/data/*
apps/example-nextjs16/e2e/recordings/
tsconfig.tsbuildinfo
trace.zip
test-results
